@page
@model EventoryMVP.Pages.Persons.Person2Model
@{
    ViewData["Title"] = "Staff";
}

<div class="item__back"><a asp-page="/Staff" class="button button__style_black link">Назад</a></div>
<div class="item">
    <div class="item__content">
        <h1 class="main__title">Анатолий</h1>
        <p class="item__content__description">
            Имя: Елена
        </p>
        <p class="item__content__description">
            Возраст: 20 лет
        </p>
        <p class="item__content__description">
            Место рождения: Город Москва, Россия
        </p>
        <p class="item__content__description">
            Образование: среднее специальное (аниматор)
        </p>
        <p class="item__content__description">
            Опыт работы: 3 года аниматором в детских клубах и на праздниках
        </p>
        <p class="item__content__description">
            Люблю детей и творчество
        </p>
        <p class="item__content__description">
            Контакт:
        </p>
        <a href="" class="button button__style_purple link">helena123</a>
    </div>
    <img class="item__image" src="~/images/helen.jpg">
</div>