@page
@model EventoryMVP.Pages.Persons.Person3Model
@{
    ViewData["Title"] = "Staff";
}

<div class="item__back"><a asp-page="/Staff" class="button button__style_black link">Назад</a></div>
<div class="item">
    <div class="item__content">
        <h1 class="main__title">Анатолий</h1>
        <p class="item__content__description">
            Имя: Евгений
        </p>
        <p class="item__content__description">
            Возраст: 35 лет
        </p>
        <p class="item__content__description">
            Место рождения: Город Москва, Россия
        </p>
        <p class="item__content__description">
            Образование: среднее специальное
        </p>
        <p class="item__content__description">
            Служба в вооруженных силах: нет
        </p>
        <p class="item__content__description">
            Удостоверение частного охранника: №3421, выдано ГУ МВД России по г. Москве
        </p>
        <p class="item__content__description">
            Опыт работы: 10 лет
        </p>
        <p class="item__content__description">
            Владение боевыми искусствами: дзюдо
        </p>
        <p class="item__content__description">
            Ответственнен, внимателен, стрессоустойчив
        </p>
        <p class="item__content__description">
            Контакт:
        </p>
        <a href="" class="button button__style_purple link">EvgenTheGuardian</a>
    </div>
    <img class="item__image" src="~/images/evgen.jpg">
</div>