.card__details {
    color: #A8A8A8;
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin: 0;
}