@page
@model EventoryMVP.Pages.Lofts.Loft2Model
@{
    ViewData["Title"] = "Lofts";
}

<div class="item__back"><a asp-page="/Loft" class="button button__style_black link">Назад</a></div>
<div class="item">
    <div class="item__content">
        <h1 class="main__title">Iglooloft</h1>
        <p class="item__content__description">
            RoofTop - это уникальные пространства для любого формата событий в топовых локациях Москвы. Большая команда профессионалов: людей, влюбленных в свою работу. RoofTop - это выбор основанный на доверии.
        </p>
        <p class="item__content__description">
            Москва, Бакунинская, 69с1
        </p>
        <p class="item__content__description">
            Контакт администратора:
        </p>
        <a href="https://t.me/getting_complicated" class="button button__style_purple link">getting_complicatd</a>
    </div>
    <img class="item__image" src="~/images/test2.jpeg">
</div>
