@page
@model EventoryMVP.Pages.Lofts.Loft3Model
@{
    ViewData["Title"] = "Lofts";
}

<div class="item__back"><a asp-page="/Loft" class="button button__style_black link">Назад</a></div>
<div class="item">
    <div class="item__content">
        <h1 class="main__title">B69</h1>
        <p class="item__content__description">
            Лофт "Барокко" - уникальное пространство, где элегантность и стиль сливаются воедино, создавая идеальное место для вашего мероприятия. «Барокко» вмещает до 80 человек, что делает его прекрасным местом для проведения встреч, банкетов, свадебных торжеств и других особенных событий. Каждый гость будет окружен роскошью и изысканностью, которые ощущаются в каждой детали интерьера.
        </p>
        <p class="item__content__description">
            Москва, Бакунинская, 69с1
        </p>
        <p class="item__content__description">
            Контакт администратора:
        </p>
        <a href="https://t.me/X_Fandom_X" class="button button__style_purple link">X_Fandom_X</a>
    </div>
    <img class="item__image" src="~/images/test3.jpeg">
</div>
