.item__content__description {
    color: #ffffff;
    font-family: 'Unbounded', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0;
    margin: 0;
}