@page
@model EventoryMVP.Pages.Items.Item3Model
@{
    ViewData["Title"] = "Equipment";
}

<div class="item__back"><a asp-page="/Equipment" class="button button__style_black link">Назад</a></div>
<div class="item">
    <div class="item__content">
        <h1 class="main__title">Honda EP2500CX</h1>
        <p class="item__content__description">
            Бензиновый электрогенератор
        </p>
        <p class="item__content__description">
            Напряжение: 220в
        </p>
        <p class="item__content__description">
            Мощность 2кВт пост, 2.5кВт пик.
        </p>
        <p class="item__content__description">
            Автономность: до 10ч
        </p>
        <p class="item__content__description">
            Топливо: АИ92
        </p>
        <p class="item__content__description">
            Аренда: 2500 руб/день
        </p>
        <p class="item__content__description">
            Контакт:
        </p>
        <a href="" class="button button__style_purple link">owner</a>
    </div>
    <img class="item__image" src="~/images/generator.jpg">
</div>