@page
@model EquipmentModel
@{
    ViewData["Title"] = "Equipment";

}

<div class="text-center">
    <h1 class="display-4">Выберите оборудование для своего мероприятия из списка ниже.</h1>
</div>


<ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Items/Item1">Item1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Items/Item2">Item2</a>
        </li>
</ul>