@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main__section-list">
    <a asp-page="/Loft" class="main__section link">
        <img class="main__section__image" src="~/images/lofts.svg">
        <div class="main__section__header">
            <p class="main__section__title">Лофты</p>
        </div>
    </a>
    <a asp-page="/Equipment" class="main__section link">
        <img class="main__section__image" src="~/images/equipment.svg">
        <div class="main__section__header">
            <p class="main__section__title">Оборудование</p>
        </div>
    </a>
    <a asp-page="/Staff" class="main__section link">
        <img class="main__section__image" src="~/images/staff.svg">
        <div class="main__section__header">
            <p class="main__section__title">Персонал</p>
        </div>
    </a>
</div>