@page
@model LoftModel
@{
    ViewData["Title"] = "Loft";

}

<div class="text-center">
    <h1 class="display-4">Выберите лофт для своего мероприятия из списка ниже.</h1>
</div>

<ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Lofts/Loft1">Loft1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Lofts/Loft2">Loft2</a>
        </li>
</ul>
