@page
@model LoftModel
@{
    ViewData["Title"] = "Lofts";

}

<div class="main__header">
    <h1 class="main__title">Лофты</h1>
</div>
<div class="card-list__container">
    <div class="card-list">
        <a asp-page="/Lofts/Loft1" class="card link">
            <div class="card__container">
                <img class="card__image" src="~/images/test1.jpeg">
                <div class="card__header">
                    <h3 class="card__title">
                        INFOLOFTMSK
                    </h3>
                </div>
                <p class="card__details">м. Бауманская</p>
                <p class="card__price">2000 р/час</p>
            </div>
        </a>
        <a asp-page="/Lofts/Loft2" class="card link">
            <div class="card__container">
                <img class="card__image" src="~/images/test2.jpeg">
                <div class="card__header">
                    <h3 class="card__title">
                        iglooloft
                    </h3>
                </div>
                <p class="card__details">м. Бауманская</p>
                <p class="card__price">1300 р/час</p>
            </div>
        </a>
        <a asp-page="/Lofts/Loft3" class="card link">
            <div class="card__container">
                <img class="card__image" src="~/images/test3.jpeg">
                <div class="card__header">
                    <h3 class="card__title">
                        B69
                    </h3>
                </div>
                <p class="card__details">м. Бауманская</p>
                <p class="card__price">1300 р/час</p>
            </div>
        </a>
    </div>
</div>
