@page
@model StaffModel
@{
    ViewData["Title"] = "Staff";

}

<div class="text-center">
    <h1 class="display-4">Выберите персонал для своего мероприятия из списка ниже.</h1>
</div>


<ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Persons/Person1">Person1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Persons/Person2">Person2</a>
        </li>
</ul>