<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventory | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/pages/index.css" type='text/css' media='all'>
</head>
@if (ViewData["Title"] != "Home page")
{
<div class="menubar">
    <div class="menubar__container">
        @if (ViewData["Title"] == "Lofts")
        {
            <a asp-page="/Loft" class='button active button__style_purple link'>Лофты</a>
        }
        else
        {
            <a asp-page="/Loft" class='button button__style_gray link'>Лофты</a>
        }
        @if (ViewData["Title"] == "Equipment")
        {
            <a asp-page="/Equipment" class='button active button__style_purple link'>Оборудование</a>
        }
        else
        {
            <a asp-page="/Equipment" class='button button__style_gray link'>Оборудование</a>
        }
        @if (ViewData["Title"] == "Staff")
        {
            <a asp-page="/Staff" class='button active button__style_purple link'>Персонал</a>
        }
        else
        {
            <a asp-page="/Staff" class='button button__style_gray link'>Персонал</a>
        }
    </div>
</div>
}
<body class="body">
    <header class="header">
        <nav class="nav">
            <div class="nav__container container">
                <a asp-page="/Index" class="link"><span class="icon-logo"></span></a>
            </div>
        </nav>
    </header>
    <main class="main container">
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>