.card-list {
    display: grid;
    column-gap: 12px;
    row-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
    justify-items: center;
}
/*
.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    min-width: 70%;
    height: 100%;
}
*/