.main__title {
    color: #FFF;
    font-family: 'Unbounded', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: default;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width : 1024px) {
    .main__title{
        font-size: 24px;
    }
}
