.nav {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 100%;
    background: linear-gradient(180deg, #252525 63.64%, rgba(37, 37, 37, 0.00) 100%);
    z-index: 1000;
    padding-bottom: 16px;
}

@media only screen and (max-width : 1024px) {
    .nav {
        position: fixed;
    }
}
